<div id="result-buttons" class="padded">
    <label>Results:</label>
    <input id='label-button' class="menu-button" type="submit" value="Labels"
        onclick="activateUI('label-result-div','label-button')">
</div>